In [36]:
import pandas as pd

In [37]:
link1 = "./BD/name.basics.tsv.gz"
link2 = "./BD/title.akas.tsv.gz"
link3 = "./BD/title.basics.tsv.gz"
link4 = "./BD/title.crew.tsv.gz"
link5 = "./BD/title.episode.tsv.gz"
link6 = "./BD/title.principals.tsv.gz"
link7 = "./BD/title.ratings.tsv.gz"
link8 = "./BD/tmdb_full.csv"
df_basic_name = pd.read_csv(link1, sep = "\t", compression = "gzip", nrows = 1000)
df_t_akas = pd.read_csv(link2, sep = "\t", compression = "gzip", nrows = 1000)
df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip", nrows = 1000)
df_t_crew = pd.read_csv(link4, sep = "\t", compression = "gzip", nrows = 1000)
df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip", nrows = 1000)
df_t_principals = pd.read_csv(link6, sep = "\t", compression = "gzip", nrows = 1000)
df_t_ratings = pd.read_csv(link7, sep = "\t", compression = "gzip", nrows = 1000)
df_tmdb = pd.read_csv(link8, nrows = 1000)

In [ ]:
#Filtrage table df_t_principals
dftp = df_t_principals[['nconst', 'tconst', 'category', 'characters']]
dftp = dftp[(dftp['category'] == 'actor') | (dftp['category'] == 'actress')]
dftp = dftp.sort_values('nconst')

#Filtrage table df_t_basics et merge
dftb = df_t_basics[['tconst', 'primaryTitle', 'startYear']]
dftbp = pd.merge(dftp, dftb, how = 'left', on = 'tconst')
dftbp.sort_values('nconst')

#Filtrage table df_basic_name et merge final
dfbn = df_basic_name[['nconst', 'primaryName']]
dftbpn = pd.merge(dfbn, dftbp, how = 'right', on = 'nconst' )
dftbpn.sort_values('nconst')
df_kpi1 = dftbpn[['nconst', 'primaryName', 'tconst', 'primaryTitle', 'startYear']]
df_kpi1= df_kpi1.drop_duplicates()

In [45]:
df_kpi1

        nconst primaryName     tconst                 primaryTitle startYear
0    nm0001908         NaN  tt0000439      The Great Train Robbery      1903
2    nm0001908         NaN  tt0000452  The Messenger Boy's Mistake      1903
4    nm0002504         NaN  tt0000247                    King John      1899
5    nm0005717         NaN  tt0000165              Riña en un café      1897
6    nm0007625         NaN  tt0000439      The Great Train Robbery      1903
..         ...         ...        ...                          ...       ...
224  nm7715443         NaN  tt0000439      The Great Train Robbery      1903
225  nm8355538         NaN  tt0000376                      A táncz      1901
226  nm8709803         NaN  tt0000370   Scrooge; or Marley's Ghost      1901
227  nm9342429         NaN  tt0000132                   Card Party      1896
228  nm9473330         NaN  tt0000465   The Kingdom of the Fairies      1903

[218 rows x 5 columns]

APRES T'OCCUPES PAS C'EST DU BROUILLON

In [39]:
df_t_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
995,tt0000218,2,A Dreyfus-ügy,HU,\N,imdbDisplay,\N,0
996,tt0000218,3,Die Affäre Dreyfus,DE,\N,\N,\N,0
997,tt0000218,4,Dreyfusova aféra,CZ,\N,imdbDisplay,\N,0
998,tt0000218,5,El caso Dreyfus,ES,\N,imdbDisplay,\N,0
999,tt0000218,6,L'affaire Dreyfus,FR,\N,imdbDisplay,\N,0

In [40]:
dfakas = df_t_akas[['titleId', 'title', 'region', 'isOriginalTitle']]
dfakas = dfakas.reset_index()

dico2 = {}
for ind in range(len(dfakas)):
    if dfakas.loc[ind, 'titleId'] in dico2.keys():
        dico2[dfakas.loc[ind, 'titleId']].append(dfakas.loc[ind, 'title'])
    else:
        dico2[dfakas.loc[ind, 'titleId']] = [dfakas.loc[ind, 'title']]
for key, liste in dico2.items():
    nouv_liste = list(set(liste))
    dico2[key] = str(nouv_liste)

df_a_merger = pd.DataFrame.from_dict(dico2, orient= 'index', columns = ['allTitles']).reset_index()

In [41]:
df_a_merger

         index                                          allTitles
0    tt0000001  ['Карменсіта', 'Καρμενσίτα', 'Карменсита', 'Ca...
1    tt0000002  ['A bohóc és kutyái', 'Клоун и его собаки', 'T...
2    tt0000003  ['哀れなピエロ', 'Sarmanul Pierrot', 'Pauvre Pierrot...
3    tt0000004  ['一杯のビール', 'A Good Beer', 'Полная кружка пива'...
4    tt0000005  ['Ковальська сцена', 'A patkolókovács', 'Black...
..         ...                                                ...
211  tt0000214  ['Испанский флаг сорван', 'Tearing Down the Sp...
212  tt0000215  ['Tears and Laughter', 'Смех и плач', 'Smích a...
213  tt0000216  ['Visita de Doña María Cristina y Alfonso XIII...
214  tt0000217                                ['Waves and Spray']
215  tt0000218  ['El caso Dreyfus', 'Die Affäre Dreyfus', 'Дел...

[216 rows x 2 columns]