In [1]:
import pandas as pd
import numpy as np

In [2]:
# link1 = "./BD/name.basics.tsv.gz"
link2 = "./BD/title.akas.tsv.gz"
# link3 = "./BD/title.basics.tsv.gz"
# link4 = "./BD/title.crew.tsv.gz"
# link5 = "./BD/title.episode.tsv.gz"
# link6 = "./BD/title.principals.tsv.gz"
# link7 = "./BD/title.ratings.tsv.gz"
# link8 = "./BD/tmdb_full.csv"
# df_basic_name = pd.read_csv(link1, sep = "\t", compression = "gzip")
df_t_akas = pd.read_csv(link2, sep = "\t", compression = "gzip")
# df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_crew = pd.read_csv(link4, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_principals = pd.read_csv(link6, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_ratings = pd.read_csv(link7, sep = "\t", compression = "gzip", nrows = 1000)
# df_tmdb = pd.read_csv(link8, nrows = 1000)

In [ ]:
import pandas as pd
import numpy as np

link2 = "./BD/title.akas.tsv.gz"
df_t_akas = pd.read_csv(link2, sep = "\t", compression = "gzip")

# Création d'une copie :
df_t_akas_Clean = df_t_akas.copy()

# suppression des colonnes :
df_t_akas_Clean = df_t_akas_Clean.drop(columns = ['ordering', 'region', 'language', 'types','attributes', 'isOriginalTitle'])

# le groupby :
df_t_akas_Clean = df_t_akas_Clean.groupby('titleId').agg(list).reset_index()

# le csv :
df_t_akas_Clean.to_csv("df_t_akas_clean.csv", index = False)

In [3]:
# Création d'une copie :
df_t_akas_Clean = df_t_akas.copy()

In [15]:
df_t_akas_Clean.head(20)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
5,tt0000001,6,Карменсита,RU,\N,imdbDisplay,\N,0
6,tt0000001,7,Карменсіта,UA,\N,imdbDisplay,\N,0
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
10,tt0000002,3,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
13,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0
14,tt0000002,7,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Pauvre Pierrot,\N,\N,original,\N,1
17,tt0000003,10,哀れなピエロ,JP,ja,imdbDisplay,\N,0
18,tt0000003,2,Poor Pierrot,GB,\N,imdbDisplay,\N,0
19,tt0000003,3,Poor Pierrot,US,\N,imdbDisplay,\N,0

In [11]:
df_t_akas_Clean.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [ ]:
df_t_akas_Clean[df_t_akas_Clean['types'] == 'original']

In [8]:
df_t_akas_Clean[(df_t_akas_Clean['types'] == 'original') & (df_t_akas_Clean['language'] != '\\N') ]

Empty DataFrame
Columns: [titleId, ordering, title, region, language, types, attributes, isOriginalTitle]
Index: []

In [4]:
df_t_akas_Clean = df_t_akas_Clean.drop(columns = ['ordering', 'region', 'language', 'types','attributes', 'isOriginalTitle'])

In [5]:
df_t_akas_Clean

            titleId                      title
0         tt0000001                 Carmencita
1         tt0000001                 Carmencita
2         tt0000001                 Carmencita
3         tt0000001  Carmencita - spanyol tánc
4         tt0000001                 Καρμενσίτα
...             ...                        ...
50539586  tt9916852                エピソード #3.20
50539587  tt9916852             Episodio #3.20
50539588  tt9916856                   The Wind
50539589  tt9916856                   The Wind
50539590  tt9916880  Horrid Henry Knows It All

[50539591 rows x 2 columns]

In [7]:
df_t_akas_Clean[df_t_akas_Clean['titleId'] == '\\N']

Empty DataFrame
Columns: [titleId, title]
Index: []

In [6]:
df_t_akas_Clean[df_t_akas_Clean['title'] == '\\N']

Empty DataFrame
Columns: [titleId, title]
Index: []

In [21]:
df_t_akas_Clean.shape

(50539591, 2)

In [8]:
df_t_akas_Clean = df_t_akas_Clean.groupby('titleId').agg(list)

In [10]:
df_t_akas_Clean = df_t_akas_Clean.reset_index()

In [ ]:
df_t_akas_Clean = df_t_akas_Clean.groupby('titleId').agg(list).reset_index()

In [11]:
df_t_akas_Clean.isna().sum()

titleId    0
title      0
dtype: int64

In [13]:
df_t_akas_Clean.to_csv("df_t_akas_clean.csv", index = False)

In [ ]:
# A ignorer:
# c'est beau mais long à executer a bien fonctionner dans la simulation à 1000 lignes:

dfakas = df_t_akas_Clean[['titleId', 'title', 'region', 'isOriginalTitle']]
dfakas = dfakas.reset_index()

dico2 = {}
for ind in range(len(dfakas)):
    if dfakas.loc[ind, 'titleId'] in dico2.keys():
        dico2[dfakas.loc[ind, 'titleId']].append(dfakas.loc[ind, 'title'])
    else:
        dico2[dfakas.loc[ind, 'titleId']] = [dfakas.loc[ind, 'title']]
for key, liste in dico2.items():
    nouv_liste = list(set(liste))
    dico2[key] = str(nouv_liste)

df_a_merger = pd.DataFrame.from_dict(dico2, orient= 'index', columns = ['allTitles']).reset_index()