In [1]:
# import des modules :
import pandas as pd
import numpy as np

In [ ]:
# import des modules :
import pandas as pd
import numpy as np

#Récupération de la BD :
link3 = "./BD/title.basics.tsv.gz"
df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip")

# Création d'une copie :
df_t_basics_Clean = df_t_basics.copy()

# Netoyage des données:
df_t_basics_Clean.duplicated().sum() #==> 0 : aucune ligne duppliquée
df_t_basics_Clean[df_t_basics_Clean['genres'].isna()] # => affiche 633 lignes en NAN
df_t_basics_Clean.isna().sum() # ==> affiche 19 ligne en NA dans primaryTitle et originalTitle 

df_t_basics_Clean.dropna(subset=['genres'], inplace=True) # Suppression des lignes en NA de la colonne genre donc 633
df_t_basics_Clean.dropna(subset=['originalTitle'], inplace=True) # suppression des 19 lignes

#Etape 1 : Transformation des valeurs \N en NAN
df_t_basics_Clean['startYear'] = df_t_basics_Clean['startYear'].replace('\\N', np.nan)
df_t_basics_Clean['endYear'] = df_t_basics_Clean['endYear'].replace('\\N', np.nan)
df_t_basics_Clean['runtimeMinutes'] = df_t_basics_Clean['runtimeMinutes'].replace('\\N', np.nan)
df_t_basics_Clean['genres'] = df_t_basics_Clean['genres'].replace('\\N', np.nan)

# Etape 2 : Spliter les listes:
df_t_basics_Clean['genres'] = df_t_basics_Clean['genres'].apply(lambda x: x.strip().split(',') if isinstance(x, str) else [] )

# Etape3 : exploser (dans un second temps) ===> à réaliser
df_t_basics_Clean = df_t_basics_Clean.explode('genres')

In [2]:
link3 = "./BD/title.basics.tsv.gz"
df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip")

C:\Users\ibtis\AppData\Local\Temp\ipykernel_21536\3972842760.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip")

In [ ]:
df_t_basics_Clean = df_t_basics.copy()

In [ ]:
df_t_basics_Clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11266641 entries, 0 to 11266640
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 773.6+ MB

In [ ]:
df_t_basics_Clean[df_t_basics_Clean['genres'] =='\\N']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N,\N
832,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,0,1909,\N,\N,\N
836,tt0000846,movie,Un día en Xochimilco,Un día en Xochimilco,0,1909,\N,\N,\N
840,tt0000850,movie,Los dos hermanos,Los dos hermanos,0,1909,\N,\N,\N
...,...,...,...,...,...,...,...,...,...
11266295,tt9916130,tvSeries,Tot Art,Tot Art,0,1976,\N,\N,\N
11266297,tt9916134,movie,The Thing in the Bag,The Thing in the Bag,0,\N,\N,78,\N
11266318,tt9916178,movie,Yesterday's Dreams,Yesterday's Dreams,0,\N,\N,\N,\N
11266332,tt9916210,tvSeries,Rumpole of the Bailey,Rumpole of the Bailey,0,\N,\N,\N,\N
11266568,tt9916700,tvEpisode,Apex Cartoon - Meet the Legends,Apex Cartoon - Meet the Legends,0,2019,\N,\N,\N

In [ ]:
df_t_basics_Clean.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
df_t_basics_Clean['genres'].isna().sum()

# 633 lignes dans le df sont en Nan : je ne peux pas faire de split car le df comporte un mix entre '\N' et du NAN
# simulation 1 : je fais opération inverse ==> remplacer les Nan par les \N puis faire split => Explose => remplacer les \N par Nan
# simulation 2 : ajouter une condition if str

633

In [ ]:
# combien j'ai de colonne?
print(df_t_basics_Clean.shape[1])

9

In [ ]:
# La taille du DF ==> combien j'ai de colonne et de lignes
print(df_t_basics_Clean.shape)

(11266641, 9)

In [ ]:
df_t_basics633 = df_t_basics_Clean[df_t_basics_Clean['genres'].isna()]
df_t_basics633
# dans les 633 lignes, il y a un décallage de colonne dans la colonne primaryTitle il y a les valeurs primaryTitle\originalTitle

#idée 1 :
# * supprimer du df_t_basics les 633 lignes.
# * traiter les 633 dans le df_t_basics633
# ==> 
#  * trouver un moyen pour décaler les valeurs des autre colonnes : genres <= runtimeMinutes <= endYear <= startYear <= isAdult <= originalTitle
#  * traitement via un split : création de deux nouvlles colonne qui vont remplacer les actuelles,
#       bien sur faudra supprimer les actuelles(primaryTitle, originalTitle)
#       df_t_basics['PrimaryTitle', 'OriginalTitle] = df_t_basics['primaryTitle'].apply(lambda x: x.split('\t')[0] if isinstance(x, str) else x)
#idée 2 : suppression des lignes: vu le % que représente les 633lignes (633/11266641 = 0.005%)


#===> convenu avec toute l'équipe : supression

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1096761,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,\N,\N,Reality-TV,NaN
1506279,tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019,\N,\N,Talk-Show,NaN
1893477,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,\N,\N,Documentary,NaN
2004273,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,\N,\N,Talk-Show,NaN
2157579,tt12149332,tvEpisode,Jeopardy! College Championship Semifinal Game ...,0,2020,\N,\N,Game-Show,NaN
...,...,...,...,...,...,...,...,...,...
8310366,tt34458820,tvEpisode,"A Day In The Life Of Toree, Yamna, Ukraine\tA ...",1,2024,\N,\N,Adult,NaN
8325825,tt34543329,tvEpisode,Men-Oh-Pause\tMen-Oh-Pause,0,2024,\N,\N,Reality-TV,NaN
8594095,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,\N,\N,"Game-Show,Reality-TV",NaN
11223350,tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019,\N,\N,Talk-Show,NaN
11263101,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,Talk-Show,NaN

In [ ]:
df_t_basics_Clean.dropna(subset=['genres'], inplace=True)

# Suppression des lignes en NA de al colonne genre donc 633

In [ ]:
# vrérif si les 633 sont toujours existantes:
df_t_basics_Clean['genres'].isna().sum()

0

In [ ]:
df_t_basics_Clean.isna().sum()

tconst             0
titleType          0
primaryTitle      19
originalTitle     19
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres             0
dtype: int64

In [ ]:
df_t_basics_Clean[df_t_basics_Clean['primaryTitle'].isna()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1253247,tt10516578,video,NaN,NaN,0,2017,\N,\N,"[Music, Short]"
3428643,tt14510930,tvEpisode,NaN,NaN,0,\N,\N,\N,[\N]
4070651,tt15700278,tvEpisode,NaN,NaN,0,2021,\N,\N,[Talk-Show]
4551375,tt17042812,movie,NaN,NaN,0,2010,\N,87,[Thriller]
5058831,tt1971246,tvEpisode,NaN,NaN,0,2011,\N,\N,[Biography]
5254467,tt2067043,tvEpisode,NaN,NaN,0,1965,\N,\N,[Music]
5592584,tt21883066,tvEpisode,NaN,NaN,0,2022,\N,\N,"[News, Talk-Show]"
5861977,tt2305914,tvEpisode,NaN,NaN,0,\N,\N,\N,"[Comedy, Talk-Show]"
5861984,tt2305918,tvEpisode,NaN,NaN,0,\N,\N,\N,"[Comedy, Talk-Show]"
7530249,tt31462159,tvEpisode,NaN,NaN,0,2024,\N,\N,[Drama]
7727444,tt32253130,short,NaN,NaN,0,\N,\N,\N,"[Biography, Short]"
8020699,tt33094763,tvEpisode,NaN,NaN,0,2019,\N,\N,[Drama]
8036349,tt33164817,short,NaN,NaN,0,2024,\N,\N,[Short]
8212954,tt3383210,short,NaN,NaN,0,2013,\N,12,"[Documentary, History, Short]"
9373176,tt5746000,short,NaN,NaN,0,2016,\N,12,[Short]
9384753,tt5773048,tvEpisode,NaN,NaN,0,2015,\N,\N,[Talk-Show]
9385196,tt5774076,movie,NaN,NaN,0,2015,\N,\N,"[Action, Drama, Mystery]"
10604346,tt8473688,tvEpisode,NaN,NaN,0,1987,\N,\N,[Drama]
10635369,tt8541336,tvEpisode,NaN,NaN,0,2018,\N,30,"[Reality-TV, Romance]"

In [ ]:
df_t_basics_Clean[df_t_basics_Clean['originalTitle'].isna()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1253247,tt10516578,video,NaN,NaN,0,2017,\N,\N,"[Music, Short]"
3428643,tt14510930,tvEpisode,NaN,NaN,0,\N,\N,\N,[\N]
4070651,tt15700278,tvEpisode,NaN,NaN,0,2021,\N,\N,[Talk-Show]
4551375,tt17042812,movie,NaN,NaN,0,2010,\N,87,[Thriller]
5058831,tt1971246,tvEpisode,NaN,NaN,0,2011,\N,\N,[Biography]
5254467,tt2067043,tvEpisode,NaN,NaN,0,1965,\N,\N,[Music]
5592584,tt21883066,tvEpisode,NaN,NaN,0,2022,\N,\N,"[News, Talk-Show]"
5861977,tt2305914,tvEpisode,NaN,NaN,0,\N,\N,\N,"[Comedy, Talk-Show]"
5861984,tt2305918,tvEpisode,NaN,NaN,0,\N,\N,\N,"[Comedy, Talk-Show]"
7530249,tt31462159,tvEpisode,NaN,NaN,0,2024,\N,\N,[Drama]
7727444,tt32253130,short,NaN,NaN,0,\N,\N,\N,"[Biography, Short]"
8020699,tt33094763,tvEpisode,NaN,NaN,0,2019,\N,\N,[Drama]
8036349,tt33164817,short,NaN,NaN,0,2024,\N,\N,[Short]
8212954,tt3383210,short,NaN,NaN,0,2013,\N,12,"[Documentary, History, Short]"
9373176,tt5746000,short,NaN,NaN,0,2016,\N,12,[Short]
9384753,tt5773048,tvEpisode,NaN,NaN,0,2015,\N,\N,[Talk-Show]
9385196,tt5774076,movie,NaN,NaN,0,2015,\N,\N,"[Action, Drama, Mystery]"
10604346,tt8473688,tvEpisode,NaN,NaN,0,1987,\N,\N,[Drama]
10635369,tt8541336,tvEpisode,NaN,NaN,0,2018,\N,30,"[Reality-TV, Romance]"

In [ ]:
# il reste 19 lignes en NA dont le primaryTitle et originalTitle sont null, donc je les supprimes
df_t_basics_Clean.dropna(subset=['originalTitle'], inplace=True)

In [ ]:
df_t_basics_Clean.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [ ]:
# afficher si ds valeurs duppliqués existes:
df_t_basics_Clean.duplicated().sum()

0

In [ ]:
# Test avec Jo pour les 633lignes
df_t_basics_Clean[df_t_basics_Clean['genres'].isna()]['primaryTitle'].iloc[0]
# ce qui confirme les 633 dernières lignes dans le df sont en Nan de l'indice ligne 1096761 => 11263101

'Rolling in the Deep Dish\tRolling in the Deep Dish'

In [ ]:
# Etape1 : traiter les'\N'
df_t_basics_Clean['startYear'] = df_t_basics_Clean['startYear'].replace('\\N', np.nan)
df_t_basics_Clean['endYear'] = df_t_basics_Clean['endYear'].replace('\\N', np.nan)
df_t_basics_Clean['runtimeMinutes'] = df_t_basics_Clean['runtimeMinutes'].replace('\\N', np.nan)
df_t_basics_Clean['genres'] = df_t_basics_Clean['genres'].replace('\\N', np.nan)

In [ ]:
# df_t_basics['genres']
# Etape 2 : Transformer en liste, et sauter les lignes considerées comme float (Nan) : 
df_t_basics_Clean['genres'] = df_t_basics_Clean['genres'].apply(lambda x: x.strip().split(',') if isinstance(x, str) else [] )

In [ ]:
df_t_basics_Clean.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"[Animation, Short]"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"[Comedy, Short]"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,[Short]
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"[Short, Sport]"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"[Documentary, Short]"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,[Romance]
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"[Documentary, Short]"

In [ ]:

df_t_basics_Clean['genres'].isna().sum()

0

In [ ]:
df_t_basics_Clean.sample(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2375305,tt1255542,tvEpisode,Episode #1.5346,Episode #1.5346,0,2008,\N,\N,"[Drama, Romance]"
4862311,tt1863017,tvEpisode,Modern Craftsman Bedroom,Modern Craftsman Bedroom,0,2011,\N,\N,[Reality-TV]
10282553,tt7772836,tvEpisode,Episode #1.16,Episode #1.16,0,2003,\N,\N,[Comedy]
9600331,tt6260644,tvEpisode,Underground,Underground,0,2017,\N,26,"[Animation, Comedy, Drama]"
3267388,tt14216214,tvEpisode,Sachsen (2019),Sachsen (2019),0,2019,\N,\N,[Music]
5944460,tt2358859,short,24 Stunden: Ein Irrer Trip die Heavy-Metal Kre...,24 Stunden: Ein Irrer Trip die Heavy-Metal Kre...,0,2012,\N,44,"[Documentary, Music, Short]"
6697363,tt2796066,tvEpisode,The Von Däniken Legacy,The Von Däniken Legacy,0,2013,\N,45,"[Fantasy, History, Sci-Fi]"
5333188,tt2104245,tvEpisode,Episode dated 17 November 2011,Episode dated 17 November 2011,0,2011,\N,\N,"[News, Talk-Show]"
10387454,tt8001702,short,Dankest Hour,Dankest Hour,0,2018,\N,5,"[Comedy, Short]"
4945929,tt19078606,tvEpisode,Episode #1.448,Episode #1.448,0,\N,\N,\N,"[Comedy, Talk-Show]"
10298384,tt7807192,tvEpisode,Bloomsbury Revealed,Bloomsbury Revealed,0,1968,\N,\N,[Documentary]
5228455,tt20495062,tvEpisode,Dancing For Dick,Dancing For Dick,1,2017,\N,36,[Adult]
4463670,tt16676762,tvEpisode,Brave New City?: Part 2,Brave New City?: Part 2,0,1973,\N,\N,[Documentary]
8722295,tt4274020,tvEpisode,Fair-play,Fair-play,0,2010,\N,\N,"[Comedy, Drama, Romance]"
10748265,tt8793806,tvEpisode,How to be our intern.,How to be our intern.,0,2018,\N,\N,"[Comedy, Short]"
1007235,tt10071922,tvEpisode,Episode #1.18,Episode #1.18,0,1980,\N,\N,[Talk-Show]
5985305,tt23778928,tvEpisode,Big Surf,Big Surf,0,2015,\N,\N,[Comedy]
3302099,tt14279720,tvEpisode,Episode dated 17 February 2021,Episode dated 17 February 2021,0,2021,\N,\N,[News]
7111304,tt29537726,tvEpisode,Episode dated 7 February 1978,Episode dated 7 February 1978,0,1978,\N,\N,[Family]
1426415,tt10827978,tvEpisode,Episode dated 9 September 2014,Episode dated 9 September 2014,0,2014,\N,\N,"[News, Reality-TV, Talk-Show]"

In [ ]:
# Etape3 : exploser (dans un second temps) ===> à mettre en Stand-By
df_t_basics_Clean = df_t_basics_Clean.explode('genres')

In [ ]:
df_t_basics_Clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17937460 entries, 0 to 11266640
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 1.3+ GB

In [ ]:
df_t_basics_Clean.to_csv("df_t_basics_clean.csv", index = False)

A ignoer cette partie

In [ ]:
### à ignorer car ecrit lors du traitement ds 633lignes actuellement supprimées
df_t_basics['startYear'] = df_t_basics['startYear'].fillna(0).astype(int)
df_t_basics['endYear'] = df_t_basics['endYear'].fillna(0).astype(int)
#probleme avec cette colonne qui contien des valeur non numérique
df_t_basics['runtimeMinutes'] = df_t_basics['runtimeMinutes'].fillna(0).astype(int)
non_numeric_values = df_t_basics[~df_t_basics['runtimeMinutes'].apply(pd.to_numeric, errors='coerce').notna()]